
.background {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 1920px;
    height: 2962px;
}
.loginsign-up {
    position: absolute;
    top: 72px;
    left: 1563px;
    display: inline-block;
    width: 232px;
    height: 56px;
}
.projects {
    position: absolute;
    top: 73px;
    left: 2475px;
    font-size: 50px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 207px;
    height: 76px;
}
.navbar {
    position: absolute;
    top: 0px;
    left: -26px;
    width: 2954px;
    height: 230px;
    overflow: hidden;
}
.about-me {
    position: absolute;
    top: 230px;
    left: 1290px;
    font-size: 60px;
    font-weight: 500;
    color: #000;
    display: inline-block;
    width: 348px;
    height: 134px;
}
.home-page {
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 20px 30px 100px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 3878px;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-family: Poppins;
}



